.ck.ck-color-grid__tile--custom,
.ck.ck-reset-color {
  min-width: unset;
  min-height: unset;
  width: 18px;
  height: 18px;
}

.ck.ck-color-grid--custom {
  padding: 6px;
  grid-gap: 3px;
}

/*selected*/
.ck.ck-color-grid__tile--custom.ck-on {
  box-shadow: none;
}
.ck.ck-color-grid__tile--custom.ck-on .ck-button__icon {
  color: white;
  width: 12px;
}

/*reset color*/
.ck.ck-button.ck-reset-color {
  background: none!important;
}
